.upload-clear-queue-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.download-all-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
}



.selected-compressed-images {
    border: 2px solid #000;
    /* Adjust the border color as needed */
    /* To create square corners */
    width: 200px;
    height: 200px;
    /* Adjust the width as needed */
    display: inline-block;
    margin: 10px;
    /* Add spacing between images */
    position: relative;
    overflow: hidden;
    /* Add relative positioning to handle child elements */
}

.compressed-image {
    /* position: relative; */
    /* To position the cross icon and reduction percentage relative to this div */
}

.compressed-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image fills the container */
}

.reduction-percentage {
    position: absolute;
    top: 50%;
    /* Position the percentage from the top edge */
    left: 50%;
    /* Position the percentage from the left edge */
    transform: translate(-50%, -50%);
    /* Center the percentage using transform */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Background color for the percentage */
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    /* Text color for the percentage */
    z-index: 3;
    padding: 2px 5px;
    border-radius: 2px;
}

.compressed-image .cross-icon-compressed {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    /* Icon color */
    /* Background color for the icon */
    padding: 2px;
    /* border-radius: 50%; */
    z-index: 3;
    cursor: pointer;
    /* To create a circular background */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    /* Semi-transparent black overlay */

}

.download-button-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.download-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}


.compressed-images-div {
    min-height: 210px;
    width: 100%;
    border: dashed #bfbbbb 0.5px;
    margin: 30px 0;
    border-radius: 6px;
}



.no-images-selected-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

p.text-no-image-selected {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(177, 169, 169);
}